{% include "header.html"%}

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
			<table class="table table-striped">
					<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Phone No</th>
						<th>Address</th>
						<th>Delete/Update</th>
					</tr>
					</thead>
					<tbody>
						{% for a in alldata %}
						<tr>
							<td>{{a.id}}</td>
							<td>{{a.name}}</td>
							<td>{{a.phone_no}}</td>
							<td>{{a.city}}</td>
							<td><a href="/delete1/{{a.id}}"><i class="fa fa-trash" style="font-size: 25px; margin-right: 20px;"></i></a><a href="/update/{{a.id}}"><i class="fa fa-edit" style="font-size: 25px;"></i></a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>							
		</div>
	</div>
	{% include "footer.html"%}
