{% include "header.html"%}

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
			<table class="table table-striped">
					<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Phone No</th>
						<th>Address</th>
					</tr>
					</thead>
					<tbody>
						{% for a in alldata %}
						<tr>
							<td>{{a.id}}</td>
							<td>{{a.name}}</td>
							<td>{{a.phone_no}}</td>
							<td>{{a.city}}</td>
						</tr>
					 {% endfor %}
					</tbody>
				</table>
			</div>							
		</div>
	</div>
	{% include "footer.html"%}
